*{
    margin: auto;
    
}


.start{

    display: flex;
    background-color: black;

}

.big{
    
    color: white;
    font-size: 80px;
    padding: 30px;
    color: white;
}

.header-section{

    color: white;
    font-size: 35px;
    text-decoration: none;
    padding: 30px 20px;
}

.one{

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 50px;
    color: white;

}

.about-text {

    background-color: black;
 
}

.banner{

    display: flex;
}

.button{
    padding: 12px 10px;
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;

}

.photo1{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.two{
    color: yellow;
    font-size: 30px;
}
.caption{

    text-align: center;
    margin-top: 90px;
    font-size: 50px;

}

.three-text{

    display: flex;
    margin-top: 50px;
  
}
.photo{

    width: 50px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.edit{

    font-size: 22px;
    color: black;
    padding: 10px 15px;
    opacity: 0.5;
}

.shadow{

    box-shadow: 10px 10px 40px lightgray;
    height: 450px;
    width: 380px;
    margin-left: 60px;
    border-radius: 10px;
    background-color: darkgrey;
}

.extra{

    display: flex;
    margin-top: 150px;
   
}

.gim{

    height: 500px;
    width: 300px;
    transform: skewY(-15deg);
   
}

.tera1{

    padding-left: 120px;
}

.tera{

  
    padding-right: 120px;
}

.jamela{

    display: flex;
}

.setup{

    padding: 0 120px;
    margin-bottom: 100px;
}


.first22{

    padding: 10px;
    color: rgba(31, 155, 250, 0.603);
    font-size: 35px;
}


.first11{

    padding: 10px;
    color: rgba(31, 155, 250, 0.603);
    font-size: 20px;
}

.first12{
    color: black;
}

.about-btn{

    margin-top: 10px;
    color: white;
    background-color: tomato;
    border-color: tomato;
    border-radius: 5px;
    padding: 5px 10px;
}

.last-pera{

    display: flex;
    background-color:  rgb(43, 11, 133);
    padding: 40px 50px;
    margin-top: 5px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 20px;
   
}

.jamela11{

  text-align: center;
  color: white;
  font-size: 50px;
}
/* 
.last-btn{

    padding-right: 10px;
    

} */

.what-btn{

    background-color: lightgray;
    border-radius: 5px;
 

}

.black22{

    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 30px ;
}